version: "3.9"

services:

  db:
    image: mariadb:latest
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: tpnetworks
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    networks:
      - backend_net
    volumes:
      - db_data:/var/lib/mysql
    ports: []

  app:
    build: ./app
    container_name: app
    environment:
      DB_HOST: db
      DB_USER: appuser
      DB_PASSWORD: apppass
      DB_NAME: appdb
    networks:
      - backend_net
    depends_on:
      - db

  proxy:
    build: ./proxy
    container_name: proxy
    ports:
      - "80:80"
    networks:
      - frontend_net
      - backend_net
    depends_on:
      - app

volumes:
  db_data:

networks:
  backend_net:
  frontend_net:
